.post-form {
  display: flex;
  flex-direction: column;
  width: 50%; 
}

textarea {
  resize: vertical;
}

.post-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%; 
  padding-bottom: 20px;
}

.neg-number {
  color: grey;
}



.post-wrapper h4, .post-wrapper h3 {
  margin: 0;
  padding: 0;
}